@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

.fundo {
    width: 100%;
    height: auto;
    background-image: url(fundo19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 10px 30px 40px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}


body h1 {
    text-align: center;
    font-size: 50px;
    font-family: Anton SC, serif;
    color: rgb(222, 223, 224);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
}

body img {
    max-width: 400px;
    max-height: 350px;
}

.principal {
    width: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#superior {
    border: 2px solid rgb(140, 142, 23);
    width: 350px;
    height: 350px;
}

p {
    margin: 15px;
    text-align: center;
    font-size: 45px;
    font-family: Anton SC, serif;
    color: rgb(222, 223, 224);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
}

.inferior img {
    border: 2px solid rgb(140, 142, 23);
    width: 120px;
    height: 120px;
    margin: 10px;
    transition: 0.3s;
}

.inferior img:hover {
    width: 130px;
    height: 130px;
    cursor: pointer;
}

button {
    border: none;
    margin-bottom: 15px;
    background-color: black;
    padding: 14px;
    text-align: center;
    font-family: Anton SC, serif;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    color: rgb(140, 142, 23);
}

footer {
    width: 100%;
    height: 20vh;
    background-color: black;
}

@media (max-width:912px) {

    body img {
        max-width: 300px;
        max-height: 300px;
    }

    .inferior img {
        width: 95px;
        height: 95px;
    }

    .inferior img:hover {
        width: 97px;
        height: 97px;
    }

    #superior {
        max-width: 300px;
        max-height: 300px;
    }
}


@media (max-width:740px) {

    .fundo{
        background-image: url(persomobile.jpg);
    }

    body img {
        max-width: 150px;
        max-height: 100px;
    }

    #superior {
        max-width: 200px;
        max-height: 200px;
    }

    .inferior img {
        max-width: 40px;
        max-height: 40px;
        border: 1px solid rgb(140, 142, 23);
        margin: 3px;
    }

    .inferior img:hover {
        width: 42px;
        height: 42px;
    }
}